<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_5.xsd"
         version="2.5"
         metadata-complete="true"
>

  <servlet>
    <servlet-name>default</servlet-name>
    <servlet-class>org.mortbay.jetty.servlet.DefaultServlet</servlet-class>
    <init-param>
      <param-name>resourceBase</param-name>
      <param-value>src/test/webapp</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>AppForwarder</servlet-name>
    <servlet-class>lux.app.AppForwarder</servlet-class>
    <init-param>
      <!--  default value: ${user.dir} -->
      <param-name>application-root</param-name>
      <param-value>src/test/webapp</param-value>
    </init-param>
    <init-param>
      <!--  default value: / -->
      <param-name>servlet-path</param-name>
      <param-value>/demo</param-value>
    </init-param>
  <!-- 
    <init-param>
      <param-name>forward-path</param-name>
      <param-value>/lux</param-value>
    </init-param>
   -->
  </servlet>
  
  <servlet-mapping>
    <servlet-name>AppForwarder</servlet-name>
    <dispatcher>REQUEST</dispatcher>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
  
</web-app>
